body {
    text-align: left;
    margin: 10;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    background: white;
    color: black;
}
@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: black;
    }

}